$dark: #0a0908;
$gray: #ccc5b9;
$golden: #fae588;

.fixed {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  height: 10vh !important;
  position: fixed;
  transition: all ease 0.5s;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: $dark !important;
}

.container {
  z-index: 5;
  transition: all ease 0.5s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: transparent;
  padding: 0 2rem;
  color: white;
  height: 12vh;

  .list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    .list_item {
      cursor: pointer;
      margin: 0 1rem;
      transition: all ease 0.5s;
      font-size: 1.6rem;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $gray;
        border-bottom: 1px solid lightgray;
      }
    }
  }

  .overlay_open {
    font-size: 27px;
    cursor: pointer;
    top: 20px;
    right: 20px;
  }

  .small_screen {
    display: none;

    .small_screen_list {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-size: 2rem;
      gap: 10px;

      .list_item {
        transition: all ease 0.5s;
        border-bottom: 1px solid transparent;
        text-align: center;

        &:hover {
          color: $golden;
          border-bottom: 1px solid lightgray;
        }
      }
    }

    .small_screen_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $dark;
      flex-direction: column;
      transition: 0.5s ease;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;

      .overlay_close {
        font-size: 27px;
        color: $golden;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .list {
    display: none !important;
  }
  .small_screen {
    display: flex !important;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 1rem;
  }
}
